* {
    padding: 0;
    margin: 0;
    font-family:Helvetica;
}

body {
    background-color: rgb(3, 10, 43);
}

.box {
    border:1px solid rgb(2, 7, 34);
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    background-color: rgba(22, 33, 82, 0.664);
}

.title {
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
}

.campo-altura , .campo-peso {
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo-peso label {
    padding-top: 15px;

}

#altura {
    margin-top: 25px;
    width: 300px;
    height: 40px;
}

#peso {
    margin-top: 25px;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#calcular {
    margin-right: 55px;
    margin-top: 25px;
    height: 40px;
    width: 125px;
    cursor: pointer;
    background-color: #f11a1a;
    color: white;
    border: none;
}

#limpar {
    margin-top: 25px;
    height: 40px;
    width: 125px;
    cursor: pointer;
    background-color: #777;
    color: white;
    border: none;

}
/* SEGUNDA TELA - RESPOSTA COM DADOS DO IMC */

/* Aparti daqui é a segunda tela !*/


.container2 {
    display: flex;
    justify-content: center;
    
    
}

.teste-body h1 {
    color: white;
    border: 1px solid red;
    padding: 15px;
    width: 300px;
    
}

span {
    color: white;
    
}






